
.block {
    flex-direction: row;
    width: 60%;
    margin: 40px auto;
}

.avatar {
    width: 96px;
    height: 96px;
    margin-right: 20px;
    border-radius: 64px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
    user-select: none;
}