{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Settings" %}{% endblock %}
{% block include %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block main %}
<div class="block">
    <ul class="menu">
        <h2>Настройки</h2>
        <li class="general-button">{% trans "General" %}</li>
        <li class="password-button">{% trans "Change password" %}</li>
        <li class="email-button">{% trans "Change E-Mail" %}</li>
    </ul>
    <div class="settings general-menu">
        <h2>{% trans "General" %}</h2>
        <form enctype="multipart/form-data" method="POST" novalidate>
            {% if user.avatar %}
            <div class="avatar-img" style="background-image: url(/{{ user.avatar.url }})"></div>
            {% else %}
            <div class="avatar-img" style="background-image: url({% static 'images/avatar_64.png' %})"></div>
            {% endif %}
            {% include 'render_form.html' with form=general_form %}
            <input type="submit" value="{% trans "Save" %}" class="button-green">
        </form>
    </div>
    <div class="settings password-menu">
        <h2>{% trans "Change password" %}</h2>
        <form class="change_password_form" method="POST" action="/change_password/" novalidate>
            {% include 'render_form.html' with form=change_password_form %}
            <input type="submit" value="{% trans "Change" %}" class="button-green">
        </form>
        <form class="confirm_code_form" method="POST" action="/change_password/" novalidate>
            <p>{% trans "Change password message" context "User settings page" %}:</p>
            {% include 'render_form.html' with form=confirm_action_form %}
            <input type="submit" value="{% trans "Send" %}" class="button-green">
        </form>
        <div class="password_confirmed_box">
            {% trans "Password was successfuly changed" %}
        </div>
    </div>
    <div class="settings email-menu">
        <h2>{% trans "Change E-Mail" %}</h2>
        <p style="line-height: 25px;">{% trans "Current E-Mail" %}:<br>{{ user.email }}</p>
        <form class="change_email_form" method="POST" action="/change_email/" novalidate>
            {% include 'render_form.html' with form=change_email_form %}
            <input type="submit" value="{% trans "Change" %}" class="button-green">
        </form>
        <form class="confirm_code_form" method="POST" action="/change_email/" novalidate>
            <p>{% trans "Change email message" context "User settings page" %}:</p>
            {% include 'render_form.html' with form=confirm_action_form %}
            <input type="submit" value="{% trans "Send" %}" class="button-green">
        </form>
        <div class="email_confirmed_box">
            {% trans "E-Mail was successfuly changed" %}
        </div>
    </div>
</div>
{% endblock %}
